/* GENERAL STYLES AND CLASSES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel-semibold {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.flex {
  display: flex;
}

.wrapper {
  max-width: 1920px;
  margin: 0 3rem;
  padding: 5rem 0;
}

.btn {
  padding: 0.7rem 3rem;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  border: 2px solid #353535;
  transition: 0.5s;
  text-transform: capitalize;
}

.btn:hover {
  border: 1px solid #d1ad8f;
}

.btn-gold {
  color: #d1ad8f;
}

.btn-blog {
  padding: 1rem rem;
}

.btn-gold:hover {
  color: #353535;
  border: 2px solid #d1ad8f;
}

.btn-gallery:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
}

.title-2 {
  font-size: 1.6rem;
}

.title-3 {
  font-size: 1.5rem;
  padding: 2rem 0 0 3rem;
}

header {
  background-color: #d1ad8f;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
  padding-left: 3rem;
}
header .logo span {
  color: #ffffff;
}
header .btnToggle {
  display: none;
}

.navbar {
  width: 23rem;
}
.navbar__list {
  justify-content: space-between;
}
.navbar__list .navbar__item .navbar__link {
  color: #353535;
  font-size: 1rem;
}
.navbar__list .navbar__item .navbar__link:hover {
  color: #ffffff;
  transition: all 0.3s;
}

#hero-container .content-bloc {
  margin: 3rem 0;
  padding: 1rem;
  height: fit-content;
}
#hero-container .content-bloc .hero-titles-container {
  text-align: center;
}
#hero-container .content-bloc .hero-titles-container .hero-title {
  font-size: 6rem;
}
#hero-container .content-bloc .hero-titles-container .hero-title .uppercase-letter {
  font-size: 6rem;
}
#hero-container .content-bloc .btn-container {
  margin-top: 2rem;
  text-align: center;
}
#hero-container .illustration-bloc {
  max-width: 100%;
  height: 20rem;
  background-image: url("./../img/background.jpg");
  background-size: cover;
  background-position: 80%;
  background-repeat: no-repeat;
}

@media (max-width: 50em) {
  header .btnToggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
    display: block;
    aspect-ratio: 1;
    cursor: pointer;
    width: 2rem;
    border: none;
    background-image: url("./../img/icon-hamburger.svg");
    background-color: transparent;
    background-repeat: no-repeat;
  }
  .btnToggle[aria-expanded=true] {
    background-image: url("./../img/icon-close.svg");
  }
  .navbar {
    position: fixed;
    inset: 0 0 0 45%;
    background: hsla(0, 0%, 100%, 0.001);
    backdrop-filter: blur(0.5rem);
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
  }
  .navbar__list {
    flex-direction: column;
    padding-top: 5rem;
  }
  .navbar .navbar__item {
    padding: 1rem;
  }
  .navbar[data-visible=true] {
    transform: translateX(0);
  }
}
@media (min-width: 50em) {
  #hero-container {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #hero-container .content-bloc {
    padding-top: 5rem;
    width: 100%;
    margin: 5rem auto;
  }
  #hero-container .content-bloc .hero-titles-container .hero-title {
    font-size: 10rem;
  }
  #hero-container .content-bloc .hero-titles-container .hero-title .uppercase-letter {
    font-size: 12rem;
  }
  #hero-container .content-bloc .hero-titles-container .hero-subtitles-container {
    margin-top: -3.5rem;
    margin-bottom: 2rem;
  }
  #hero-container .illustration-bloc {
    height: 100%;
  }
}
#about {
  background-color: #f3f2f0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.content .me {
  width: 100%;
  object-fit: contain;
}
.content .text-container {
  margin-top: 2rem;
}
.content .text-container .title-2 {
  margin-bottom: 2rem;
  text-align: center;
}
.content .text-container .about-me {
  line-height: 2rem;
}
.content .text-container .btn-container {
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 50em) {
  .content {
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    gap: 2rem;
  }
  .content .me {
    width: 20%;
  }
  .content .text-container {
    width: 60%;
    margin-left: 10rem;
  }
  .content .text-container .about-me {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2rem;
  }
}
#intersection {
  background-color: #d1ad8f;
  height: fit-content;
  text-align: center;
  padding: 3rem;
}
#intersection p {
  line-height: 2rem;
}

.cards-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.cards-container .card {
  width: 25rem;
  margin-bottom: 3rem;
}
.cards-container .card .image-container {
  width: 100%;
  height: 15rem;
}
.cards-container .card .image-container .blog-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.cards-container .card .card-content {
  margin-top: 2rem;
}
.cards-container .card .card-content .card-title {
  cursor: pointer;
}
.cards-container .card .card-content .article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

#gallery {
  background-color: #d1ad8f;
}

.images-container {
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.images-container .image {
  width: 20rem;
  height: 25rem;
  object-fit: cover;
}

.btn-container {
  margin-top: 4rem;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
