/* GENERAL STYLES AND CLASSES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.cinzel-regular {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cinzel-semibold {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.flex {
  display: flex;
}

.btn {
  padding: 0.7rem 3rem;
  font-size: 1.2rem;
  background: transparent;
  cursor: pointer;
  border: 1px solid #353535;
}

.btn:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: 0.6s;
}

#hero {
  background-image: url("./../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 5%;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #d1ad8f;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
}
header .logo span {
  color: #ffffff;
}
header .btnToggle {
  display: none;
}

.navbar {
  width: 28rem;
}
.navbar__list {
  justify-content: space-between;
}
.navbar__list .navbar__item .navbar__link {
  color: #353535;
  font-size: 1rem;
}
.navbar__list .navbar__item .navbar__link:hover {
  color: #ffffff;
  transition: all 0.3s;
}

@media (max-width: 50em) {
  header .btnToggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
    display: block;
    aspect-ratio: 1;
    cursor: pointer;
    width: 2rem;
    border: none;
    background-image: url("./../img/icon-hamburger.svg");
    background-color: transparent;
    background-repeat: no-repeat;
  }
  .btnToggle[aria-expanded=true] {
    background-image: url("./../img/icon-close.svg");
  }
  .navbar {
    position: fixed;
    inset: 0 0 0 45%;
    background: hsla(0, 0%, 100%, 0.001);
    backdrop-filter: blur(0.5rem);
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
  }
  .navbar__list {
    flex-direction: column;
    padding-top: 5rem;
  }
  .navbar .navbar__item {
    padding: 1rem;
  }
  .navbar[data-visible=true] {
    transform: translateX(0);
  }
}
#about {
  background-color: #d1ad8f;
}

.wrapper {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: max-content;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left .text-container {
  max-width: 35rem;
  margin: 0 auto;
}
.left .text-container .title-2 {
  text-align: center;
  color: #353535;
  font-size: 3.5rem;
  text-decoration: uppercase;
}
.left .text-container .title-4 {
  font-size: 2rem;
  font-style: italic;
  margin-top: 2rem;
}
.left .text-container .about-me {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.6rem;
}

.right .image-container {
  width: 100%;
  height: auto;
}
.right .image-container .image-about-me {
  width: 100%;
  object-fit: cover;
}

#blog {
  height: 80vh;
}

.blog-section-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 25rem;
  min-height: 40rem;
  box-shadow: 7px 5px 12px 0px rgba(53, 53, 53, 0.75);
  -webkit-box-shadow: 7px 5px 12px 0px rgba(53, 53, 53, 0.75);
  -moz-box-shadow: 7px 5px 12px 0px rgba(53, 53, 53, 0.75);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card__image {
  width: 22rem;
  height: auto;
}
.card__image img {
  width: 100%;
  height: 14rem;
  border-radius: 1rem;
  object-fit: fill;
}
.card__content {
  border: 1px solid red;
}
.card .title-3 {
  margin-bottom: 1rem;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
