#blog {
}

.cards-container {
  //border: 2px solid black;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .card {
    width: 25rem;
    margin-bottom: 3rem;

    .image-container {
      width: 100%;
      height: 15rem;
      //border: 1px solid green;
      .blog-image {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    .card-content {
      margin-top: 2rem;
      .card-title {
        cursor: pointer;
      }

      .article {
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: 1.7rem;
      }
    }
  }
}
