#blog {
  height: 80vh;
}
.blog-section-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  max-width: 25rem;
  min-height: 40rem;
  box-shadow: 7px 5px 12px 0px rgba(53, 53, 53, 0.75);
  -webkit-box-shadow: 7px 5px 12px 0px rgba(53, 53, 53, 0.75);
  -moz-box-shadow: 7px 5px 12px 0px rgba(53, 53, 53, 0.75);
  padding: 1rem;
  //border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__image {
    width: 22rem;
    height: auto;
    img {
      width: 100%;
      height: 14rem;
      border-radius: 1rem;
      object-fit: fill;
    }
  }
  &__content {
    border: 1px solid red;
  }
  .title-3 {
    margin-bottom: 1rem;
    text-align: center;
  }
}
