#gallery{
background-color: #d1ad8f;
}

.images-container{
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
    
    justify-content: space-between;
    .image{
        width: 20rem;
        height: 25rem;
        object-fit: cover;
    }
}
.btn-container{
    margin-top: 4rem;
    text-align: center;
}